<div class="cinema-room">
  <div *ngFor="let seatColumns of seats; let index = index; let first = first">
    <div *ngFor="let seat of seatColumns">
      <!-- <div *ngIf="first" class="seats">
        <span class="test">{{ seat.position.row }}</span>
        <span class="seat">{{ seat.position.column }}</span>
      </div> -->
      <div *ngIf="first" class="letter-axis seat">{{ seat.position.row }}</div>

      <!-- <div *ngIf="first" class="seat">
        {{ seat.position.column }}
 
      </div> -->

      <!-- <div *ngIf="first" class="seat test2">{{ seat.position.column }}</div> -->
      <!-- <div class="test2" *ngIf="first; else restOfSeats">
        <div class="seat test">
          {{ seat.position.row }}
        </div>
        <div [ngClass]="{ reservedSeat: seat.isBusy }" class="seat test">
          {{ seat.position.column }}
        </div>
      </div> -->
      <div
        *ngIf="seat?.taken; else availableSeats"
        id="{{ seat.position.column + seat.position.row }}"
        class="seat"
        [ngClass]="{ 'seat-taken': seat.taken }"
      >
        {{ seat.position.column }}
      </div>
      <ng-template #availableSeats>
        <div
          (click)="updateCinemaRoom(seat)"
          id="{{ seat.position.column + seat.position.row }}"
          class="seat"
          [ngClass]="{ 'seat-booked': seat.reservation }"
        >
          {{ seat.position.column }}
        </div>
      </ng-template>
    </div>
  </div>
</div>
