.cinema-room {
  display: flex;
}

.seat {
  width: 42px;
  height: 42px;
  min-width: max-content;
  line-height: 42px;
  text-align: center;
  background-color: var(--color-bg-button);

  background: #353b44;
  border-radius: 6px 6px 0 0;
  margin: 2px;
  color: white;
  cursor: pointer;
}
.seat-taken {
  background: #f2e5d7;
}

.seat-booked {
  background: #fa6218;
  backdrop-filter: blur(23px);
}

.letter-axis {
  position: absolute;
  transform: translate(-46px, -2px);
  text-align: center;
}

.reservedSeat {
  background-color: grey;
}
