<nav clickOutside (clickOutside)="clickedOutside()">
  <h1>Ale Kino!</h1>
  <div class="navbar-buttons-wrapper">
    <div class="navbar-cart button">
      <img src="assets/svg/cart.svg" alt="" />
    </div>
    <div
      (click)="toggleDropdown()"
      (click)="login()"
      class="button button--navbar"
    >
      {{ this.state.currentUser ? this.state.currentUser.name : "Zaloguj się" }}
    </div>
    <div [class.hidden]="hide" class="dropdown dropdown--navbar">
      <div>Moje bilety</div>
      <div>Chcę obejrzeć</div>
      <div>Ustawienia</div>
      <div (click)="logout()">Wyloguj</div>
    </div>
  </div>
</nav>
