<section *ngIf="vm | async as vm">
  <div>
    <h2>WYBRANE BILETY</h2>
    <div *ngFor="let ticket of vm.tickets">
      <ng-container *ngIf="ticket.pickedTickets > 0">
        <span>Ilość {{ ticket.pickedTickets }}, </span>
        <span>typ {{ ticket.type }}</span>
      </ng-container>
    </div>
  </div>
  <div>
    <h2>WYBRANE MIEJSCA</h2>
    <div *ngFor="let seat of vm.seats">
      <span>Rząd {{ seat.position.row }}, </span>
      <span>Miejsce {{ seat.position.column }}</span>
    </div>
  </div>
  <div>
    <h2>LEGENDA:</h2>
    <div>Zajęte miejsce</div>
    <div>Twoje miejsce</div>
    <div>Miejsce VIP</div>
  </div>
  <div class="total">
    <div>Suma:</div>
    <div>0zł</div>
  </div>
</section>
