<div class="cart" (appClickOutside)="closeDropdown()">
     <button (click)="toggleDropdown()" type="button" class="cart__toggle-btn">
          <img
               draggable="false"
               class="toggle-btn__icon"
               src="assets/svg/cart.svg"
               alt="toggle reservation cart" />
     </button>

     <menu *ngIf="isOpen" class="cart__dropdown">
          <ul *ngIf="vm$ | async as cartItems" class="dropdown__list">
               <ng-container *ngIf="cartItems.size > 0; else EmptyCartInfo">
                    <li
                         class="dropdown__list-item"
                         *ngFor="let cartItem of cartItems | keyvalue">
                         <div class="list-item__content">
                              <img src="{{ cartItem.value.showingPartial.image }}" />
                              <div class="content__info">
                                   <div>{{ cartItem.value.showingPartial.title }}</div>
                                   <div>{{ cartItem.value.showingPartial.day }}</div>
                                   <div>{{ cartItem.value.showingPartial.time }}</div>
                              </div>
                              <button
                                   class="content__delete-btn"
                                   (click)="
                                        removeCartItem(
                                             $event,
                                             cartItem.value.showingPartial.reservationId
                                        )
                                   ">
                                   <img
                                        src="assets/svg/trash-icon.svg"
                                        alt="delete reservation" />
                              </button>
                         </div>
                         <a class="btn btn--sm" (click)="redirect(cartItem.value.url)"
                              >Dokończ zamówienie</a
                         >
                    </li>
               </ng-container>
               <ng-template #EmptyCartInfo>
                    <div class="empty-cart">
                         <p class="text-h5 shadow-primary-text">Twój koszyk jest pusty</p>
                         <p class="text-body-small">
                              Zarezerwój bilety i kup je szybko i wygodnie.
                         </p>
                    </div>
               </ng-template>
          </ul>
     </menu>
</div>
