.dropdown {
  position: relative;
}

.dropdown__ticket-type {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 0.5rem;
}
.dropwdown__display-selected {
  /* border: 1px solid #000000;
  border-radius: 2px; */
  width: max-content;
  position: relative;
  cursor: pointer;
  display: flex;
}

.dropdown__options {
  /* text-align: center; */
  border: 1px solid var(--color-border);
  z-index: 99;
  width: max-content;
  position: absolute;
  background-color: var(--background-secondary);
  padding: 0.4rem 0.7rem;
  color: var(--color-text-primary);
}

.dropdown__options > div {
  cursor: pointer;
  margin: 0.1rem 0;
}
.dropdown__options > div > p {
  padding: 0.3rem 0;
}
.dropdown__options > div:hover {
  transition: all 0.3s;
  color: var(--color-primary);
  text-shadow: 0px 0px 16px rgba(0, 243, 243, 0.5);
}

.hidden {
  display: none;
}

.arrow-icon {
  /* position: absolute;
  top: 0;
  right: 0; */
  width: 24px;
}
