.dropdown {
  position: relative;
}

.dropdown__ticket-type {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 0.5rem;
}
.dropwdown__display-selected {
  border: 1px solid black;
  border-radius: 2px;
}

.dropdown__options {
  /* text-align: center; */
  border: 1px solid var(--color-border);
  z-index: 99;
  width: 100%;
  position: absolute;
  background-color: var(--background-secondary);
}
.hidden {
  display: none;
}
