<div class="cart" (appClickOutside)="closeDropdown()">
    <button (click)="toggleDropdown()" type="button" class="cart__toggle-btn">
        <img
            draggable="false"
            class="toggle-btn__icon"
            src="assets/svg/cart.svg"
            alt="cart with reservations" />
    </button>

    <menu *ngIf="isOpen" class="cart__dropdown">
        <ul *ngIf="vm$ | async as cartItems" class="dropdown__list">
            <li class="dropdown__list-item" *ngFor="let cartItem of cartItems">
                <div class="list-item__content">
                    <img src="{{ cartItem.showingPartial.image }}" />
                    <div class="content__info">
                        <div>{{ cartItem.showingPartial.title }}</div>
                        <div>{{ cartItem.showingPartial.day }}</div>
                        <div>{{ cartItem.showingPartial.time }}</div>
                    </div>
                </div>
                <a class="btn btn--sm" [routerLink]="['/lastUrl']">Dokończ zamówienie</a>
            </li>
        </ul>
    </menu>
</div>
