.dates {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  width: max-content;
}
.dates__date {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  border-collapse: separate;
  cursor: pointer;
}
