<section>
  <div>Wprowadź kod voucher'a</div>
  <p>
    W naszym kinie obowiązują różne typy biletów. Cena biletu zależy od jego
    typu
  </p>
  <div class="dropdowns-wrapper">
    <div *ngFor="let ticket of ticketsInfo">
      <div>{{ ticket.type }}</div>
      <div [class.hidden]="hide">
        <div>{{ options }}</div>
        <div
          (click)="selectOnChange({ value: option, type: ticket.type })"
          *ngFor="let option of options"
        >
          {{ option }}
        </div>
      </div>
      <div>{{ ticket.price }}</div>
    </div>
  </div>
  <button>Zatwierdz</button>
</section>
