.ticket-details {
  background-color: #ffffff;
  z-index: 2;
  max-width: 30%;
  /* transform: translateX(0); */
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  max-height: 100vh;
  bottom: 0;

  line-height: 1.5;
  overflow: hidden;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.ticket-details .btn-ready {
  display: inline-block;
  bottom: 0;
}
.dropdowns-wrapper {
  display: flex;
  gap: 30px;
  text-align: center;

  /* font-size: 1.1rem; */
}

.ticket-type {
  /* border-bottom: 1px solid var(--color-border); */
  /* margin-bottom: 0.5rem;
  padding: 1rem; */
  width: 70px;
  word-wrap: break-word;
}

.btn-ready {
  border: 2px solid var(--color-text);

  bottom: 0;
  width: 90%;
  padding: 0.5rem 0;
  background-color: white;
  border-radius: 5px;
  position: relative;
  margin: 0 1rem 1rem 1rem;
  /* position: absolute; */
}

.btn-ready:hover::after {
  content: "";
  top: 0;
  left: 0;
  /* background: #2b74b9; */
  border: 2px solid var(--color-text);
  width: 100%;
  /* width: 300px; */
  height: 100%;

  position: absolute;
  filter: blur(6px);
}

.ticket-details__navbar-menu {
  display: flex;
  padding: 1.2rem 0;
  /* border-bottom: 1px solid var(--color-border); */
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--text-lg);
}

.ticket-details__navbar-menu .arrow-icon {
  width: 9%;
  /* background-color: white; */
}

.ticket-details__navbar-menu > div:nth-child(2) {
  color: var(--color-text);
  font-weight: 700;
  letter-spacing: 2px;
  background: var(--gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1rem;
}
.ticket-details__main {
  height: 70%;
}
.info .voucher {
  background-color: var(--background-tertiary);
}
.ticket-details__main .info,
.ticket-details__main .dropdowns-wrapper,
.ticket-details__main .total {
  padding: 1rem;
}

.ticket-details__main .total {
  display: flex;
  justify-content: space-between;
}
