.reservation-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* position: relative; */
}

.reservation-page__screen {
  border-top: 1px solid var(--color-border);
  width: 35%;
  height: 1px;
  /* transform: rotateX(100deg); */
  /* text-align: center; */
  padding: 0.5rem 0 1rem 0;
  /* margin-top: 2rem; */
  /* border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%; */
  /* position: absolute; */
  /* width: 338px;
height: 37px;
left: 44px;
top: 166px;

border: 5px solid #DBB12C;
box-shadow: 4px 8px 10px rgba(219, 177, 44, 0.35); */
}
/* .reservation-page__screen {
  position: absolute;
  border: 1px solid red;
  border-radius: 100% 0% 0% 100% / 0% 39% 61% 100%;
  width: 300px;
  height: 300px;
  transform: rotateX(260deg);
  transform: rotateY(160deg);
  z-index: 99;
} */

.reservation-page__info {
  font-size: var(--text-lg);
  padding: 1.5rem 0;
}

.screening-room {
  /* width: 100vw; */
  display: flex;
  /* justify-content: center; */
  /* margin-top: 1rem; */
}

.seat {
  /* padding: 0.2rem 0.4rem; */
  width: 32px;
  text-align: center;
  background-color: var(--color-bg-button);
  border: 1px solid var(--color-border);
}

.seats {
  display: flex;
}

.reservation-page__ticket-details {
  margin: 1rem 0;
}

.reservation-page__ticket-details .select-bilet-type {
  margin: 0rem 3rem;
}

.reservedSeat {
  background-color: grey;
}

.screen-woal {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: black;
  opacity: 0.5;
}

.hide {
  display: none;
}
