<section class="reservation-page">
  <!-- <div class="reservation-page__info">
    <span>19/11/2022, </span>
    <span>godz. {{ params?.time }}</span>
  </div> -->
  <div class="reservation-page__screen">Ekran</div>
  <app-cinema-room
    (seatToUpdate)="updateCinemaRoom($event)"
    *ngIf="seats; else Spinner"
    [seats]="seats"
  ></app-cinema-room>
  <ng-template #Spinner>...loading</ng-template>

  <!-- <div class="reservation-page__ticket-details">
    <span>Rrząd E Miejsce 6</span>
    <select class="select-bilet-type" name="" id="">
      <option value="">bilet normalny</option>
      <option value="">bilet ulgowy</option>
      <option value="">bilet rodzinny</option>
      <option value="">vouvher</option>
    </select>
    <span>22 PLN</span>
  </div>
 -->
  <!-- <app-ticket-details [selectedSeat]="selectedSeat"></app-ticket-details> -->
  <app-ticket-details2></app-ticket-details2>
  <a [routerLink]="['/purchase']">Przejdź do zamówienia</a>
</section>
