<section class="reservation-page">
  <!-- <div class="reservation-page__info">
    <span>19/11/2022, </span>
    <span>godz. {{ params?.time }}</span>
  </div> -->
  <div class="reservation-page__screen">Ekran</div>
  <div class="screening-room">
    <div *ngFor="let seat of seats">
      {{ seat.position.row }}
    </div>
  </div>
  <--
  <div class="reservation-page__ticket-details">
    <span>Rrząd E Miejsce 6</span>
    <select class="select-bilet-type" name="" id="">
      <option value="">bilet normalny</option>
      <option value="">bilet ulgowy</option>
      <option value="">bilet rodzinny</option>
      <option value="">vouvher</option>
    </select>
    <span>22 PLN</span>
  </div>
  <a [routerLink]="['/purchase']">Przejdź do zamówienia</a> -->
</section>
