<section class="card-wrapper">
  <div class="card-image">
    <img src="assets/popcorn.png" alt="" />
  </div>
  <main class="card-main">
    <div>
      <div class="card-title">Apokawixa</div>
      <div>Horror | 120 minut | PG-12</div>
      <span class="card-description"
        >Lorem ipsum dolor sit amet, alii rebum postea eam ex. Et mei laoreet
        officiis, summo sensibus id mei.</span
      >
    </div>
    <div class="card-details">
      <a routerLink="/">Więcej</a>
    </div>
    <div class="card-hours">
      <a class="button" routerLink="/">12:00</a>
      <a class="button" routerLink="/">15:00</a>
      <a class="button" routerLink="/">18:00</a>
    </div>
  </main>
  <div class="card-rating">
    <p>8 / 10</p>
    <a class="button button--card" routerLink="/">Oceń ten film!</a>
    <a class="button button--card" routerLink="/">Chcę zobaczyć</a>
  </div>
</section>
``
