<section class="summary" *ngIf="vm | async as vm">
  <div>
    <h2>LEGENDA:</h2>
    <div>
      <span class="seat seat--taken test">8</span>
      Zajęte miejsce
    </div>
    <div>
      <span class="seat test">8</span>
      Wolne miejsce
    </div>
    <div>
      <span class="seat seat--booked test">8</span>
      Twoje miejsce
    </div>
    <div>Miejsce VIP</div>
  </div>
  <div>
    <h2>WYBRANE MIEJSCA</h2>
    <div class="booked-seats--wrapper">
      <div
        class="seat seat--booked seat--summary"
        *ngFor="let seat of vm.seats"
      >
        <p>Rząd {{ seat.position.row }}</p>
        <p>Miejsce {{ seat.position.column }}</p>
      </div>
    </div>
  </div>
  <div class="booked-tickets--wrapper">
    <h2>WYBRANE BILETY</h2>
    <div *ngFor="let ticket of vm.tickets">
      <ng-container *ngIf="ticket.pickedTickets > 0">
        <p>{{ ticket.pickedTickets }} x {{ ticket.type | titlecase }}</p>
      </ng-container>
    </div>
  </div>

  <div class="total">
    <div>Suma:</div>
    <div>0zł</div>
  </div>
</section>
