.seat--summary {
  height: max-content;
  line-height: normal;
  padding: 0.2rem 0.3rem;
  text-align: left;
  border-radius: 8px 8px 0 0;
}

.seat--summary > p {
  margin: 0.3rem 0;
}

.summary {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.booked-seats--wrapper {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 40%; */
  width: 300px;
}

.booked-tickets--wrapper {
  text-align: left;
}

.test {
  display: inline-block;
  font-size: 0;
}

/* .summary {
  width: 100%;
} */
