<section class="reservation-page">
    <div class="showing-info" *ngIf="showingInfo$ | async as showingInfo">
        <img src="{{ showingInfo.image }}" />
        <div class="showing-info__text">
            <p class="text-h5">{{ showingInfo.title }}</p>
            <p>{{ showingInfo.day }}</p>
            <p>{{ showingInfo.time }}</p>
        </div>
    </div>

    <div class="screen">Ekran</div>
    <app-cinema-room
        *ngIf="cinemaRoomSeats$ | async as seats"
        class="cinema-room"
        [seats]="seats"
        (newSelectedSeat)="updateCinemaRoom($event)">
    </app-cinema-room>
    <app-summary class="summary"></app-summary>
    <div class="redirect-links-wrapper">
        <div class="to-ticket-details-wrapper">
            <a routerLink=""> Powrót do repertuaru </a>
            <img src="assets/svg/pencil.svg" />
        </div>

        <a routerLink="/booking/purchase/{{ params }}">Przejdź do zamówienia</a>
    </div>
</section>
