<section class="reservation-page">
    <div class="reservation-page__screen">Ekran</div>
    <app-cinema-room
        class="cinema-room"
        *ngIf="cinemaRoomSeats$ | async as seats"
        [seats]="seats"
        (newSelectedSeat)="updateCinemaRoom($event)">
    </app-cinema-room>
    <app-summary class="summary"></app-summary>
    <div class="redirect-links-wrapper">
        <div class="to-ticket-details-wrapper">
            <a routerLink=""> Powrót do repertuaru </a>
            <img src="assets/svg/pencil.svg" />
        </div>

        <a routerLink="/booking/purchase/{{ params }}">Przejdź do zamówienia</a>
    </div>
</section>
