.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  font-family: "Allerta Stencil", "sans-serif";
  font-size: 1.125rem;
  color: var(--color-primary) !important;
  text-shadow: 0px 0px 16px rgba(0, 243, 243, 0.5);
}
.mdc-tab__ripple::before {
  background-color: var(--color-primary) !important;
}
.mdc-tab__ripple {
  background-color: var(--color-primary) !important;
}

.mdc-tab__text-label {
  color: var(--color-text-primary) !important;
  font-family: "Allerta Stencil", "sans-serif";
  font-size: 1rem;
}
.mdc-tab-indicator__content--underline {
  border-color: var(--color-text-primary) !important;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  border-color: var(--color-primary) !important;
}

.mat-mdc-form-field-error {
  color: var(--accent-error);
  width: max-content;
}
