<div class="login-wrapper">
    <form
        class="login-form"
        [formGroup]="userCredentialsForm"
        (ngSubmit)="onSubmit()">
        <div class="input-wrapper">
            <input
                [ngClass]="{
                    'input--error': email.errors && email.dirty
                }"
                #emailInput
                class="input"
                placeholder="email"
                formControlName="email" />
            <ng-container *ngIf="emailInput.classList.contains('input--error')">
                <p>Te pole jest obowiązkowe</p>
            </ng-container>
        </div>
        <div class="input-wrapper">
            <input
                type="password"
                [ngClass]="{
                    'input--error': password.errors && password.dirty
                }"
                class="input"
                formControlName="password" />
            <ng-container *ngIf="password.errors">
                <p *ngIf="password.dirty">Te pole jest obowiązkowe</p>
            </ng-container>
        </div>
        <button (click)="onSubmit()" type="button">Zaloguj</button>
    </form>
</div>
