<nav
    class="navbar-wrapper grid-container"
    appClickOutside
    (appClickOutside)="clickedOutside()">
    <div>
        <div class="cinema-name__wrapper">
            <a class="navbar__cinema-name text-h2" [routerLink]="['/']">Ale Kino</a>
        </div>
        <div class="navbar-buttons__wrapper">
            <div class="navbar-cart">
                <img src="assets/svg/cart.svg" alt="" />
            </div>
            <div class="navbar__login">
                <div
                    *ngIf="(currentUser$ | async)?.firstName as name; else signin"
                    (click)="toggleDropdown()">
                    {{ name }}
                </div>
                <ng-template #signin>
                    <div class="login__text" (click)="login()">Zaloguj się</div>
                </ng-template>
            </div>
            <div *ngIf="!hide" class="dropdown dropdown--navbar">
                <div>Moje bilety</div>
                <a [routerLink]="['/wanna-see']">Chcę obejrzeć</a>
                <div>Ustawienia</div>
                <button (click)="logout()">Wyloguj</button>
            </div>
        </div>
    </div>
</nav>
