<nav
    class="navbar-wrapper grid-container"
    appClickOutside
    (appClickOutside)="clickedOutside()">
    <div>
        <div class="cinema-name__wrapper">
            <a class="navbar__cinema-name text-h2" [routerLink]="['/']">Ale Kino</a>
        </div>
        <div class="navbar-buttons__wrapper">
            <ng-container *ngIf="authState$ | async as auth">
                <div class="navbar-cart">
                    <img src="assets/svg/cart.svg" alt="" />
                    <router-outlet name="cart"></router-outlet>
                    <!-- <app-cart></app-cart> -->
                </div>
            </ng-container>
            <div class="navbar__login">
                <div
                    *ngIf="(currentUser$ | async)?.firstName as name; else signin"
                    (click)="toggleDropdown()">
                    {{ name }}
                </div>
                <ng-template #signin>
                    <div class="login__text" (click)="login()">Zaloguj się</div>
                </ng-template>
            </div>
            <div *ngIf="!hide" class="dropdown dropdown--navbar">
                <div>Moje bilety</div>
                <a [routerLink]="['/wanna-see']">Chcę obejrzeć</a>
                <div>Ustawienia</div>
                <button (click)="logout()">Wyloguj</button>
            </div>
        </div>
        <!-- <div class="login__text" (click)="login()">Zaloguj się</div> -->
    </div>
    <!-- <router-outlet name="cart"></router-outlet> -->
</nav>
<!-- <router-outlet></router-outlet> -->
