<section class="create-showing">
    <form class="create-showing__form" [formGroup]="createShowingForm">
        <fieldset formGroupName="form__movie">
            <legend>Film</legend>
            <div>
                <div class="input-wrapper__form-field">
                    <input class="input" formControlName="imageLink" />
                </div>
                <div class="input-wrapper__form-field">
                    <input class="input" formControlName="movieTitle" />
                </div>
            </div>
            <div>
                <div class="input-wrapper__form-field">
                    <input class="input" formControlName="runTime" />
                </div>
                <div class="input-wrapper__form-field">
                    <input class="input" formControlName="pg" />
                </div>
            </div>
            <div>
                <div class="input-wrapper__form-field">
                    <input class="input" formControlName="genre" />
                </div>
                <div class="input-wrapper__form-field">
                    <input class="input" formControlName="description" />
                </div>
            </div>
        </fieldset>

        <fieldset form_>
            <legend>Termin</legend>
            <div class="input-wrapper__form-field">
                <input class="input" formControlName="cinemaRoom" />
            </div>

            <div>
                <input class="input" matInput [matDatepicker]="picker" />
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <div>
                <input class="input" matInput [matDatepicker]="hour" />
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matIconSuffix [for]="hour"></mat-datepicker-toggle>
                <mat-datepicker #hour></mat-datepicker>
            </div>
        </fieldset>
    </form>
</section>
