<section class="create-showing grid-container">
     <form [formGroup]="createShowingForm" class="create-showing__form">
          <fieldset>
               <legend class="text-h2 shadow-primary-text">Stwórz repertuar</legend>

               <div class="showing-form__form-field">
                    <mat-form-field>
                         <mat-label>Wybierz film</mat-label>
                         <mat-select formControlName="day" name="movie">
                              <ng-container *ngIf="movies$ | async as movies">
                                   <mat-option
                                        *ngFor="let movie of movies"
                                        [value]="movie">
                                        {{ movie }}
                                   </mat-option>
                              </ng-container>
                         </mat-select>
                         <mat-error *ngIf="controls.movie.invalid">
                              Pole nie może być puste. Wybierz film.
                         </mat-error>
                    </mat-form-field>
               </div>
               <div class="date-input__wrapper">
                    <input
                         placeholder="wybierz datę*"
                         [matDatepickerFilter]="myFilter"
                         formControlName="day"
                         class="input"
                         matInput
                         [matDatepicker]="picker" />
                    <div class="date-picker__wrapper">
                         <mat-datepicker-toggle
                              class="date-icon"
                              matIconSuffix
                              [for]="picker">
                         </mat-datepicker-toggle>
                         <mat-datepicker #picker> </mat-datepicker>
                    </div>

                    <ng-container *ngIf="controls.day.errors as errors">
                         <ng-container
                              *ngIf="controls.day.touched && controls.day.pristine">
                              <p *ngIf="errors['required']">
                                   Pole nie może być puste. Wprowadź datę
                              </p>
                         </ng-container>
                    </ng-container>
               </div>
               <div class="showing-form__form-field">
                    <input
                         class="input"
                         type="time"
                         placeholder="godzina"
                         formControlName="hour" />
                    <ng-container *ngIf="controls.hour.errors as errors">
                         <ng-container
                              *ngIf="controls.hour.touched && controls.hour.pristine">
                              <p *ngIf="errors['required']">
                                   Pole nie może być puste. Wybierz datę
                              </p>
                         </ng-container>
                    </ng-container>
               </div>
               <div class="showing-form__form-field">
                    <mat-form-field>
                         <mat-label>Wybierz salę kinową</mat-label>
                         <mat-select formControlName="cinemaRoom" name="cinemaRoom">
                              <ng-container
                                   *ngIf="cinemaRooms$ | async as cinemaRoomsNames">
                                   <mat-option
                                        *ngFor="let name of cinemaRoomsNames"
                                        [value]="name">
                                        {{ name }}
                                   </mat-option>
                              </ng-container>
                         </mat-select>
                         <mat-error *ngIf="controls.cinemaRoom.invalid">
                              Pole nie może być puste. Wybierz salę.
                         </mat-error>
                    </mat-form-field>
               </div>
          </fieldset>
          <button class="btn form__button" (click)="submit()">Zatwierdź</button>
     </form>
</section>
