<div class="payment-dialog">
    <div mat-dialog-actions>
        <button class="dialog__return-button" (click)="onNoClick()">
            <img src="assets/svg/chevron-left.svg" alt="close modal dialog" />
        </button>
    </div>
    <div class="dialog__header">
        <img class="dialog__blik-icon" src="assets/svg/blik/blik-logo.svg" alt="" />
        <p class="text-h3">ALE KINO</p>
    </div>

    <div class="dialog__text">
        <h1 class="text-body-big">Wpisz kod BLIK</h1>
        <p class="text-body-small">Wygenerowany przez aplikację Twojego banku</p>
    </div>
    <div class="dialog__content" mat-dialog-content>
        <img src="assets/svg/blik/blik-logo.svg" alt="" />

        <input [formControl]="code" class="payment-input" type="number" />
    </div>
    <div mat-dialog-actions>
        <button
            [disabled]="!code.valid"
            type="button"
            class="dialog__submit btn"
            [mat-dialog-close]="submit()">
            Zapłać
        </button>
    </div>
</div>
