/* .card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.card-wrapper {
  --height: 300px;
  /* display: grid;
  grid-template-columns: repeat(13, minmax(min-content, 1fr)); */
  /* display: flex;
  column-gap: 1rem; */
  display: flex;
  column-gap: 1rem;

  margin: 2rem 0;
}

.card-image {
}

.card-image > img {
  height: var(--height);
}
.card-main {
  min-height: var(--height);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* column-gap: 1rem; */
  height: 100%;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* justify-content: flex-end;
  align-self: flex-end; */
  /* position: relative; */
}

.card-details > a {
  text-decoration: underline;
}

.card-rating {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.button--card {
  width: 9.3rem;
  margin: 0.5rem 0;
  padding: 0.4rem 0.8rem;
}

.card-rating > p:nth-child(2) {
  color: var(--color-text-secondary);
  padding: 0.3rem 0 0.4rem 0;

  /* font-size: 1.5rem; */
}

.card-rating > p:first-child {
  font-size: 1.25rem;
}
.card-hours {
  display: flex;
  /* align-self: flex-end; */
  /* justify-content: flex-end; */
  flex-wrap: wrap;
}

.card-hours > a {
  width: 7rem;
}

.card-info {
  max-width: 500px;
}

.card-description {
  display: inline-block;
  padding: 0.5rem 0 0 0;
}
.card-title {
  padding: 0 0 0.5rem 0;
}

.time-details {
  border: 1px solid var(--color-border);
  background-color: var(--background-glass);
  padding: 0.8rem 1rem;
  text-align: center;
}

/* RATING */
/*  */
