<section class="ticket-details">
  <!-- <ng-template ngIf="seats">
    <span *ngFor="let seat of seats">{{ seat }}</span>
  </ng-template> -->
  <div *ngIf="seatPosition" else emptySpace>
    Rząd: {{ seatPosition.row }} Miejsce: {{ seatPosition.column }}
  </div>
  <ng-template #emptySpace><p>works</p></ng-template>
  <!-- <div>
    {{ ticketsInfo[0].type }
    <div *ngFor="let ticketInfo of ticketsInfo">{{ ticketInfo.type }}</div>
  </div> -->

  <div class="dropdown">
    <div class="display">{{ ticketType }}</div>
    <div [class.hidden]="hide" class="options-wrapper">
      <div
        class="dropdown__option"
        (click)="getSelectedTicketValues(ticketInfo)"
        *ngFor="let ticketInfo of ticketsInfo"
      >
        {{ ticketInfo.type }}
      </div>
    </div>
  </div>
  <div>{{ price }}</div>
  <!-- <select
    #biletInfo
    (select)="selected(biletInfo)"
    class="select-bilet-type"
    name=""
    id=""
  >
    <option *ngFor="let ticketInfo of ticketsInfo" value="{{ ticketInfo }}">
      {{ ticketInfo.type }}
    </option>
  </select> -->
  <!-- <span>{{ price }}</span> -->
</section>
