.options-wrapper {
  border: 1px solid var(--color-border);
  min-width: max-content;
  padding: 0.3rem 0.5rem;
  transform: translateY(10px);
}
.dropdown__option {
  margin: 0.2rem 0;
  cursor: pointer;
}

.display {
  border: 1px solid var(--color-border);
}

.ticket-details {
  display: flex;
}
