<section class="reservation-page">
  <div class="reservation-page__screen">Ekran</div>
  <app-cinema-room
    class="cinema-room"
    *ngIf="(cinemaRoom$ | async)?.seats as seats; else Spinner"
    [seats]="seats"
  ></app-cinema-room>
  <ng-template #Spinner>...loading</ng-template>

  <app-ticket-details
    [class.hide]="hide"
    (toggleEmitter)="toggleTicketDetails($event)"
  ></app-ticket-details>
  <div [class.hide]="hide" class="screen-woal"></div>
  <app-summary class="summary"></app-summary>
  <div class="redirect-links-wrapper">
    <div class="to-ticket-details-wrapper">
      <button class="test" (click)="toggleTicketDetails(true)">
        Powrót do wyboru biletów
      </button>
      <img src="assets/svg/pencil.svg" />
    </div>
    <a [routerLink]="['/purchase']">Przejdź do zamówienia</a>
  </div>
</section>
