@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

:root {
  --color-border: #333333;
  --color-border-secondary: #00bff9;
  --color-border-secondary: #22d3ee;
  --background-primary: #000000;

  --background-secondary: #ffffff;
  --background-tertiary: #f1f5f9;
  --color-text-primary: #e5e7eb;
  --color-bg-button: #f0f0f0;
  --color-placeholder: #c0c0c0;
  --gradient-blue: linear-gradient(
    89.83deg,
    #00f3f3 4.83%,
    #00ffff 52.31%,
    #00ffff 100.78%
  );

  --neutral-900: #000000;
  --neutral-800: #333333;
  --neutral-700: #353b44;
  --neutral-400: #c0c0c0;
  --neutral-300: #cccccc;
  --neutral-200: #e5e7eb;
  --neutral-100: #ffffff;

  --accent-organe: #fa6218;
  --accent-teal-600: #00bfff;
  --accent-teal-500: #00cbff;
  --accent-teal-400: #00f3f3;
  --accent-teal-300: #00ffff;
  --accent-beige: #f2e5d7;

  --accent-error: #ff0000;
  --accent-success: #00fa9a;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;

  background-color: var(--background-primary);
  color: var(--color-text-primary);
  /* overflow-x: hidden; */
  text-rendering: optimizeLegibility;
  letter-spacing: 0.4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}
.text-h1 {
  font-size: clamp(1.5rem, 3.4vw + 0.81rem, 3rem);
}
.text-h2 {
  font-size: clamp(1.125rem, 2vw + 0.75rem, 2rem);
}
.text-h3 {
  font-size: clamp(1rem, 1.13vw + 0.75rem, 1.5rem);
}
.text-h4 {
  font-size: clamp(1rem, 0.56vw + 0.87rem, 1.25rem);
}
.text-h5 {
  font-size: clamp(1rem, 0.25vw + 0.94rem, 1.125rem);
}
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5 {
  font-family: "Allerta Stencil", "sans-serif";
}
.text-body {
  font-size: 1rem;
}
.text-body-big {
  font-size: 1.14rem;
}
.text-body-small {
  font-size: 0.88rem;
}
.text-body-big,
.text-body-small .text-body,
.text-body-big,
.text-body-small {
  font-weight: 400;
  line-height: 1.4;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(max-content, 1fr));
}

.button {
  display: block;
  background-color: var(--background-secondary);
  border: none;
  text-align: center;
  line-height: 100%;
  white-space: nowrap;
  letter-spacing: 0.15em;
  margin: 1rem auto;
  min-width: max-content;
  width: 80%;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.button::after {
  content: "";
  background: var(--gradient-blue);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: 5px;
}

.button:hover::after {
  filter: blur(3px);
}

.seat {
  width: 42px;
  height: 42px;
  min-width: max-content;
  line-height: 42px;
  text-align: center;
  background-color: var(--color-bg-button);
  background: #353b44;
  border-radius: 6px 6px 0 0;
  margin: 2px;
  color: white;
  cursor: pointer;
}

.seat--booked {
  background: #fa6218;
  backdrop-filter: blur(23px);
}

.seat--taken {
  background: #f2e5d7;
}

.text-gradient {
  background: var(--gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input {
  display: block;
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  padding: 1rem 1rem;
  background-color: var(--color-bg-button);
}

.input:focus {
  border: 2px solid var(--color-border-secondary);
}

.input--error {
  border: 2px solid var(--color-error);
}

.input--success {
  border: 2px solid var(--color-success);
}

.input::placeholder {
  color: var(--color-placeholder);
}
