@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap");
:root {
  --color-border: rgb(51, 51, 51);
  --color-border-secondary: #00bff9;
  /* --color-border-secondary: rgb(51, 51, 51); */
  --background-primary: #000000;
  --background-secondary: #ffffff;
  --background-tertiary: #f1f5f9;
  --color-text-primary: #e5e7eb;
  --color-bg-button: #f0f0f0;
  --text-m: 1.1rem;
  --text-lg: 1.3rem;
  --text-XL: 1.8rem;
  --gradient-blue: linear-gradient(
    90deg,
    #2b74b9 0%,
    #00ced1 50%,
    #4682b4 100%
  );
  --color-text: #00bff9;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--background-primary);
  color: var(--color-text-primary);
  /* overflow-x: hidden; */
  text-rendering: optimizeLegibility;
  letter-spacing: 0.02em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(max-content, 1fr));
}

.screen-woal {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: black;
  opacity: 0.5;
}

.button {
  display: block;
  background-color: var(--background-secondary);
  border: none;
  text-align: center;
  line-height: 100%;
  white-space: nowrap;
  letter-spacing: 0.15em;
  margin: 1rem auto;
  min-width: max-content;
  width: 80%;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.button::after {
  content: "";
  background: var(--gradient-blue);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: 5px;
}

.button:hover::after {
  filter: blur(3px);
}

.seat {
  width: 42px;
  height: 42px;
  min-width: max-content;
  line-height: 42px;
  text-align: center;
  background-color: var(--color-bg-button);

  background: #353b44;
  border-radius: 6px 6px 0 0;
  margin: 2px;
  color: white;
  cursor: pointer;
}

.seat--booked {
  background: #fa6218;
  backdrop-filter: blur(23px);
}

.seat--taken {
  background: #f2e5d7;
}
