<section *ngIf="reviewState$ | async as vm" class="purchase-page-container">
    <div class="movie-info">
        <img
            class="movie-info__image"
            src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_SX300.jpg"
            alt=""
            srcset="" />
        <div class="movie-info__details">
            <p class="text-gradient text-title">ZAKUP BILETÓW</p>
            <p>{{ vm.showing?.title }}</p>
            <span>{{ vm.showing?.day }}</span>
            <span>{{ vm.showing?.time }}</span>
        </div>
    </div>
    <!-- <label for="name">Name: </label> -->
    <div class="order-details">
        <div *ngFor="let ticket of vm.ticketsSortedByType">
            <div>{{ ticket.amount }}x {{ ticket.type }}</div>
            <div>{{ ticket.price }}zł</div>
        </div>
        <div class="total text-gradient">
            <div>4 bilety</div>
            <div>65zł</div>
        </div>
    </div>

    <form class="purchase-form" [formGroup]="userCredentialsForm" (ngSubmit)="onSubmit()">
        <div class="name-surname-wrapper">
            <div class="purchase-input">
                <input placeholder="Imię*" formControlName="name" type="text" />
                <div>
                    <ng-container *ngIf="controls.name.errors as errors">
                        <ng-container *ngIf="controls.name.dirty">
                            <p *ngIf="errors['required']">Te pole jest obowiązkowe</p>
                            <p *ngIf="errors['minlength'] as minLength">
                                Podałeś {{ minLength.actualLength }} znaki, minimum to
                                {{ minLength.requiredLength }}
                            </p>
                            <p *ngIf="errors['maxLength'] as maxLength">
                                Podałeś {{ maxLength.actualLength }} znaki, minimum to
                                {{ maxLength.requiredLength }}
                            </p>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="hidden">w</div>
            <div class="purchase-input">
                <input placeholder="Nazwisko*" formControlName="surname" type="text" />
                <!-- <p
          [ngClass]="{
            hidden: controls.surname.pristine || controls.surname.valid
          }"
        >
          Nazwisko jest wymagane
        </p> -->
                <ng-container *ngIf="controls.surname.errors as errors">
                    <ng-container *ngIf="controls.surname.dirty">
                        <p *ngIf="errors['required']">Te pole jest obowiązkowe</p>
                        <p *ngIf="errors['minlength'] as minLength">
                            Podałeś {{ minLength.actualLength }} znaki, minimum to
                            {{ minLength.requiredLength }}
                        </p>
                        <p *ngIf="errors['maxLength'] as maxLength">
                            Podałeś {{ maxLength.actualLength }} znaki, minimum to
                            {{ maxLength.requiredLength }}
                        </p>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="email-wrapper">
            <div class="purchase-input">
                <input
                    class="purchase-input--email"
                    placeholder="Adres e-mail*"
                    formControlName="email"
                    type="email" />
                <!-- <p
          [ngClass]="{
            hidden: controls.email.pristine || controls.email.valid
          }"
        >
          Wpisz prawidłowy adres email
        </p> -->
                <ng-container *ngIf="controls.email.errors as errors">
                    <ng-container *ngIf="controls.email.dirty">
                        <p *ngIf="errors['required']">Te pole jest obowiązkowe</p>
                        <p *ngIf="errors['emailValidation'] as emailValidation">
                            {{ emailValidation }}
                        </p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="hidden">w</div>
            <!-- <p>Value: {{ userCredentials.status }}</p> -->
            <div class="purchase-input">
                <input
                    class="purchase-input--conrifm-email"
                    placeholder="Powtórz adres e-mail*"
                    formControlName="confirmEmail"
                    type="email" />

                <!-- <p
          [ngClass]="{
            hidden:
              userCredentials.controls.confirmEmail.pristine ||
              userCredentials.controls.confirmEmail.valid
          }"
        >
          {{ errorMessage ? errorMessage : "Wpisz prawidłowy adres email" }}
        </p> -->
                <!-- <p
          [ngClass]="{
            hidden:
              controls.confirmEmail.pristine || controls.confirmEmail.valid
          }"
        >
          {{ userCredentialsForm.errors?.["matchValidation"]}}
        </p> -->
                <ng-container *ngIf="controls.confirmEmail.touched">
                    <p *ngIf="userCredentialsForm.errors as errors">
                        {{ errors?.["matchValidation"]}}
                    </p>
                    <!-- <p *ngIf="controls.confirmEmail.errors["emailValidation"] as emailValidation">
            {{ errors?.["matchValidation"]}}
          </p> -->
                </ng-container>
            </div>
        </div>
        <div style="display: flex">
            <div class="purchase-input">
                <input
                    placeholder="Numer telefonu"
                    formControlName="phoneNumber"
                    type="number" />
                <!-- <p
          [ngClass]="{
            hidden: controls.phoneNumber.pristine || controls.phoneNumber.valid
          }"
        >
          Numer telefonu musi składać się z 9 cyfr
        </p> -->
                <ng-container *ngIf="controls.phoneNumber.errors as errors">
                    <ng-container *ngIf="controls.phoneNumber.dirty">
                        <p
                            style="width: 200%"
                            *ngIf="errors['phoneNumberValidation'] as message">
                            {{ message }}
                        </p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="hidden">ww</div>
        </div>
        <button
            class="button button--purchase-form"
            type="button"
            [disabled]="!userCredentialsForm.valid">
            Zamawiam
        </button>
    </form>
    <div class="redirect-reservation">
        <img src="assets/svg/chevron-left.svg" alt="left-arrow-icon" />
        <a routerLink="/booking/reservation/{{ params }}"> Wróć do wyboru miejsc </a>
    </div>
</section>
