.purchase-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-info {
  display: flex;
  gap: 2rem;
  width: 50%;
  justify-content: center;
  margin: 2rem 0rem 1rem 0rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-border);
}

.movie-info__image {
  width: 120px;
}

.movie-info__details > p:first-child {
  font-weight: normal;
  text-transform: uppercase;
}

.movie-info__details > p:nth-child(2) {
  padding: 0.4rem 0 0.3rem 0;
}
.movie-info__details > p:nth-child(3) {
  padding-bottom: 0.2rem;
}

.order-details {
  margin: 0 auto;
  gap: 2rem;
  width: 50%;
}

.order-details > div {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.total {
  text-transform: uppercase;
  color: var(--color-primary);
  border-top: 1px solid var(--color-border);
  margin: 1rem 0rem 1rem 0rem;
}

.purchase-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.purchase-input {
  margin: 0.2rem 0;
  width: 40%;
}
input {
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
}

input::placeholder {
  color: #c0c0c0;
  padding-left: 0.5rem;
}
.purchase-input > .ng-dirty.ng-invalid {
  border: 2px solid var(--accent-error);
}
.purchase-input > .ng-touched.ng-invalid {
  border: 2px solid var(--accent-error);
}

.purchase-input > .ng-dirty.ng-valid {
  border: 2px solid var(--accent-success);
}

.purchase-input > input {
  padding: 0.2rem 0.4rem;
}

.button--purchase-form {
  width: 95%;
  margin: 0 auto;
  color: black;
  letter-spacing: 0.1rem !important;
  text-transform: uppercase;
  height: 2rem;
}

.redirect-reservation {
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

.redirect-reservation > img {
  width: 30px;
  margin-right: 10px;
}

.redirect-reservation > a {
  cursor: pointer;
}
