<section *ngIf="reviewState$ | async as vm" class="purchase-page-container">
    <div class="movie-info">
        <img
            class="movie-info__image"
            src="https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_SX300.jpg"
            alt=""
            srcset="" />
        <div class="movie-info__details">
            <p class="text-gradient text-title">ZAKUP BILETÓW</p>
            <p>{{ vm.showing?.title }}</p>
            <span>{{ vm.showing?.day }}</span>
            <span>{{ vm.showing?.time }}</span>
        </div>
    </div>
    <!-- <label for="name">Name: </label> -->
    <div class="order-details">
        <div *ngFor="let ticket of vm.sortedTickets | keyvalue">
            <div>{{ ticket.value.amout }}x {{ ticket.key }}</div>
            <div>{{ ticket.value.price }}zł</div>
        </div>
        <div class="total text-gradient">
            <div>{{ vm.totalAmount }} bilety</div>
            <div>{{ vm.totalPrice }}zł</div>
        </div>
    </div>

    <form class="purchase-form" [formGroup]="userCredentialsForm" (ngSubmit)="onSubmit()">
        <div class="name-surname-wrapper">
            <div class="purchase-input">
                <input placeholder="Imię*" formControlName="name" type="text" />
                <ng-container *ngIf="controls.name.errors as errors">
                    <ng-container *ngIf="controls.name.touched && controls.name.pristine">
                        <p *ngIf="errors['required']">Imię jest obowiązkowe</p>
                    </ng-container>
                    <ng-container *ngIf="controls.name.dirty && controls.name.invalid">
                        <p *ngIf="errors['minlength'] as minLength">
                            Podałeś {{ minLength.actualLength }} znaki, minimum to
                            {{ minLength.requiredLength }}
                        </p>
                        <p *ngIf="errors['maxLength'] as maxLength">
                            Podałeś {{ maxLength.actualLength }} znaki, minimum to
                            {{ maxLength.requiredLength }}
                        </p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="hidden">w</div>
            <div class="purchase-input">
                <input placeholder="Nazwisko*" formControlName="surname" type="text" />
                <ng-container *ngIf="controls.surname.errors as errors">
                    <ng-container
                        *ngIf="controls.surname.touched && controls.surname.pristine">
                        <p *ngIf="errors['required']">Nazwisko jest obowiązkowe</p>
                    </ng-container>
                    <ng-container
                        *ngIf="controls.surname.dirty && controls.surname.invalid">
                        <p *ngIf="errors['minlength'] as minLength">
                            Podałeś {{ minLength.actualLength }} znaki, minimum to
                            {{ minLength.requiredLength }}
                        </p>
                        <p *ngIf="errors['maxLength'] as maxLength">
                            Podałeś {{ maxLength.actualLength }} znaki, minimum to
                            {{ maxLength.requiredLength }}
                        </p>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="email-wrapper">
            <div class="purchase-input">
                <input
                    class="purchase-input--email"
                    placeholder="Adres e-mail*"
                    formControlName="email"
                    type="email" />
                <ng-container *ngIf="controls.email.errors as errors">
                    <ng-container
                        *ngIf="controls.email.touched && controls.email.pristine">
                        <p *ngIf="errors['required']">Email jest obowiązkowy</p>
                    </ng-container>
                    <ng-container *ngIf="controls.email.dirty && controls.email.invalid">
                        <p *ngIf="errors['emailValidation'] as emailValidation">
                            {{ emailValidation }}
                        </p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="hidden">w</div>

            <div class="purchase-input">
                <input
                    class="purchase-input--conrifm-email"
                    placeholder="Powtórz adres e-mail*"
                    formControlName="confirmEmail"
                    type="email" />

                <ng-container *ngIf="controls.confirmEmail.errors as errors">
                    <ng-container
                        *ngIf="
                            controls.confirmEmail.touched &&
                            controls.confirmEmail.pristine
                        ">
                        <p *ngIf="errors['required']">
                            Potwierdzenie emila jest obowiązkowe
                        </p>
                    </ng-container>
                    <ng-container
                        *ngIf="
                            controls.confirmEmail.dirty && controls.confirmEmail.invalid
                        ">
                        <p *ngIf="userCredentialsForm.errors as errors">
                            {{ errors?.["matchValidation"]}}
                        </p>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div style="display: flex">
            <div class="purchase-input">
                <input
                    placeholder="Numer telefonu"
                    formControlName="phoneNumber"
                    type="number" />

                <ng-container *ngIf="controls.phoneNumber.errors as errors">
                    <ng-container
                        *ngIf="
                            controls.phoneNumber.invalid && controls.phoneNumber.dirty
                        ">
                        <p
                            style="width: 200%"
                            *ngIf="errors['phoneNumberValidation'] as message">
                            {{ message }}
                        </p>
                    </ng-container>
                </ng-container>
            </div>
            <div class="hidden">ww</div>
        </div>
        <!-- <button
            (click)="openDialog()"
            class="btn button--purchase-form"
            type="button"
            [disabled]="!userCredentialsForm.valid">
            Zamawiam
        </button> -->
        <button (click)="openDialog()" class="btn button--purchase-form" type="button">
            Zamawiam
        </button>
    </form>
    <div class="redirect-reservation">
        <img src="assets/svg/chevron-left.svg" alt="left-arrow-icon" />
        <a routerLink="/booking/reservation/{{ params }}"> Wróć do wyboru miejsc </a>
    </div>
</section>
