<section class="purchase-page-container">
  <div>
    <p>Title,</p>
    <span>Date, </span>
    <span>Hour</span>
  </div>
  <!-- <label for="name">Name: </label> -->

  <form
    class="purchase-form"
    [formGroup]="userCredentialsForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="name-surname-wrapper">
      <div class="purchase-input">
        <input placeholder="Imię*" formControlName="name" type="text" />
        <p
          [ngClass]="{
            hidden: controls.name.pristine || controls.name.valid
          }"
        >
          Imię jest wymagane {{ message }}
        </p>
      </div>
      <div class="purchase-input">
        <input placeholder="Nazwisko*" formControlName="surname" type="text" />
        <p
          [ngClass]="{
            hidden: controls.surname.pristine || controls.surname.valid
          }"
        >
          Nazwisko jest wymagane
        </p>
      </div>
    </div>
    <div class="purchase-input">
      <input
        placeholder="Numer telefonu"
        formControlName="phoneNumber"
        type="number"
      />
      <p
        [ngClass]="{
          hidden: controls.phoneNumber.pristine || controls.phoneNumber.valid
        }"
      >
        Numer telefonu musi składać się z 9 cyfr
      </p>
    </div>
    <div class="purchase-input">
      <input
        class="purchase-input--email"
        placeholder="Adres e-mail*"
        formControlName="email"
        type="email"
      />
      <p
        [ngClass]="{
          hidden: controls.email.pristine || controls.email.valid
        }"
      >
        Wpisz prawidłowy adres email
      </p>
    </div>
    <!-- <p>Value: {{ userCredentials.status }}</p> -->
    <div class="purchase-input">
      <input
        class="purchase-input--conrifm-email"
        placeholder="Powtórz adres e-mail*"
        formControlName="confirmEmail"
        type="email"
      />
      <ng-container
        *ngIf="userCredentialsForm.controls.confirmEmail.errors as errors"
      >
        <ng-container *ngIf="userCredentialsForm.controls.confirmEmail.touched">
          <p *ngIf="errors['required']">Te pole jest obowiązkowe</p>
          <p *ngIf="errors['minlength'] as milLength">
            Podałeś {{ milLength.actualLength }} znaki, minimum to
            {{ milLength.requiredLength }}
          </p>
          <p *ngIf="errors['emailMatch']">Emaile nie są identyczne</p>
        </ng-container>
      </ng-container>
      <!-- <p
        [ngClass]="{
          hidden:
            userCredentials.controls.confirmEmail.pristine ||
            userCredentials.controls.confirmEmail.valid
        }"
      >
        {{ errorMessage ? errorMessage : "Wpisz prawidłowy adres email" }}
      </p> -->
      {{ controls.confirmEmail.errors | json }}
    </div>
    <button
      class="button button--purchase-form"
      type="button"
      [disabled]="!userCredentialsForm.valid"
    >
      Zamawiam!
    </button>
  </form>
  <a [routerLink]="['/reservation']">Wróć do wyboru miejsc</a>
</section>
