.toast {
  width: max-content;
  height: 50px;
  border-radius: 5px;
  display: flex;
  line-height: 50px;
  display: flex;
  padding: 0 0.2rem;
  align-items: center;
  bottom: 20px;
  margin: 0 auto;
  position: sticky;
}

.toast__icon {
  width: 50px;
  height: inherit;
}
.toast__close-wrapper {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.toast__close-image {
  width: 30px;
  height: 30px;
}

.toast-message {
  white-space: nowrap;
  font-weight: 600;
  padding: 0 0.5rem;
}

.toast--success.toast {
  background-color: var(--accent-success);
}
.toast--success > .toast-message {
  color: var(--accent-green);
}
.toast--success .toast__icon--color {
  filter: brightness(0) saturate(100%) invert(22%) sepia(96%) saturate(3321%) hue-rotate(143deg)
    brightness(88%) contrast(84%);
}

.toast--info.toast {
  background-color: var(--color-primary);
}
.toast--info > .toast-message {
  color: black;
}
.toast--info .toast__icon--color {
  filter: brightness(0) saturate(100%) invert(24%) sepia(90%) saturate(772%) hue-rotate(165deg)
    brightness(96%) contrast(97%);
}

.toast--warning.toast {
  background-color: var(--accent-orange-300);
}
.toast--warning > .toast-message {
  color: var(--accent-orange-800);
}
.toast--warning .toast__icon--color {
  filter: brightness(0) saturate(100%) invert(19%) sepia(94%) saturate(2854%) hue-rotate(20deg)
    brightness(101%) contrast(91%);
}

.toast--error.toast {
  background-color: var(--accent-error);
}
.toast--error > .toast-message {
  color: white;
}
.toast--error .toast__icon--color {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(21%) hue-rotate(50deg)
    brightness(105%) contrast(100%);
}
