.dates {
  margin: 2.5rem 0;
  display: flex;
}
.date > a {
  word-spacing: 1px;
}
.date {
  position: relative;
  cursor: pointer;
  height: 60px;
  width: 90px;
  border-collapse: collapse;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: var(--color-border);
  /* z-index: -1; */
}

.date:hover > .date-border {
  opacity: 1;
}
.date::before,
.date > .date-border {
  border-radius: inherit;

  opacity: 0;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  transition: opacity 500ms;
  pointer-events: none;
}

.date::before {
  background: radial-gradient(
    60px circle at var(--mouse-x) var(--mouse-y),
    rgba(38, 51, 78, 0.1) transparent 40%
  );
  z-index: 3;
}

.date:hover::before {
  opacity: 1;
}

.date > .date-border {
  background: radial-gradient(
    120px circle at var(--mouse-x) var(--mouse-y),
    rgba(38, 51, 78, 0.6),
    transparent 40%
  );
  z-index: 1;
}

.date-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary);
  border-radius: inherit;
  height: calc(100% - 2px);

  margin: 1px;

  width: calc(100% - 2px);
}
