.dates {
  margin: 2.5rem 0;
  display: flex;
  /* border: 1px solid var(--color-border); */
  border-radius: 10px;
  width: max-content;
}
.dates__date {
  padding: 1rem 1.5rem;
  border: 1px solid var(--color-border);
  border-collapse: collapse;
  cursor: pointer;
}
